<div class="mt-3 p-3 bg-light container review_box" style="border-radius: 16px">
    <div class="row">
        <div class="col-4">
            Product ID: <b>{{ review.product }}</b>
        </div>
        <div class="col-4">
            User ID: <b>{{ review.user }}</b>
        </div>
        <div class="col-4">
            User Name: <b>{{ review.name }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Helpfulness: <b>{{ review.helpfulness }}</b>
        </div>
        <div class="col-4">
            Score: <b>{{ review.score }}</b>
        </div>
        <div class="col-4">
            Timestamp: <b>{{ review.timestamp }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            Summary:
            <p>{{ review.summary }}</p>
        </div>
        <div class="col-8">
            Review:
            <p>{{ review.text|striptags }}</p>
        </div>
    </div>
</div>